<div class="welcome">
  <div class="welcome__block">
    <div class="welcome__block__bigtext">Welcome to</div>
    <div class="welcome__block__bigtext">Restaurant</div>
    <div class="welcome__block__smalltext">
      The people, food and the prime locations make the perfect place good
      friends & family to come together and have great time.
    </div>
    <div class="welcome__block_btn">View Menu</div>
  </div>
  <div class="welcome-logo">
    <img src="assets/images/Frame.png" alt="" />
  </div>
</div>
