.card__info {
  display: flex;
  justify-content: space-between;
  font-size: 2em;
  letter-spacing: 0.2px;
  flex-wrap: wrap;
  padding: 20px;
  border-bottom: 2px solid #b1a8a8;
}

.card {
  display: flex;
  flex-direction: column;
  img {
    width: 318px;
    height: 307px;
  }
  .card__info_description {
    padding-top: 10px;
    font-size: 20px;
    letter-spacing: 0.2px;
    font-family: var(--font-text);
  }
}
